@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --text-color:#fff;
    --bg-color:#000;
    --link-color:#ff6900;
    --title-font-family:"Crimson Text";
    --body-font-family:"Source Sans Pro";
}

body,
html {
    height:100%;
    color:var(--text-color);
    background-color:var(--bg-color);
}

body {
    margin:0;
    font-family:var(--body-font-family);
    padding:0;
    font-weight:100;
    text-rendering:optimizeLegibility;
}

section div.bodytext{
    padding:10%;
    min-height:500px
}

section div.bodytext h1 {
    font-family: var(--title-font-family);
    font-weight:700;
    font-size:200%;
    letter-spacing:1px
}

a:hover {
    font-weight: bold;
}